<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <img src="assets/images/Logo.png" width="60">
      <span class="logo-name" i18n>NOVATECH</span>
    </span>
    <span class="example-spacer"></span>

    <!-- Desktop Navigation Links -->
    <div class="desktop-nav">
      <a mat-button routerLink="/home" routerLinkActive="active" i18n>Home</a>
      <a mat-button routerLink="/main" routerLinkActive="active" i18n>Client</a>
      <a mat-button routerLink="/services" routerLinkActive="active" i18n>Services</a> 
      <a mat-button routerLink="/blog" routerLinkActive="active" i18n>Blog</a>
    </div>

    <!-- Mobile Menu Toggle -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav" (click)="toggleNavLinks()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Mobile Navigation Links -->
<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
    <span i18n>Accueil</span>
  </button>
  <button mat-menu-item [routerLink]="['/main']">
    <mat-icon>person</mat-icon>
    <span i18n>Client</span>
  </button>
  <button mat-menu-item [routerLink]="['/services']">
    <mat-icon>build</mat-icon>
    <span i18n>Services</span>
  </button>
  <button mat-menu-item [routerLink]="['/blog']">
    <mat-icon>article</mat-icon>
    <span i18n>Blog</span>
  </button>
</mat-menu>
