<div class="container my-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="display-4">We Build Amazing <br> Digital Experiences</h1>
        <p class="lead text-muted">Our team of experts crafts beautiful websites and mobile apps to help your business grow.</p>
        <a href="#services" class="btn btn-primary btn-lg mt-3">Explore Our Services</a>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/pc.jpg" class="img-fluid" alt="Agency Portfolio">
      </div>
    </div>
  </div>