<div class="divider">
  
  <div class="divider__line"></div>
  <div class="divider__icon">:-</div>
  <div class="divider__title">Our Services</div>
  <div class="divider__line"></div>
</div>
<div class="container">
  <div class="service">
    <img src="assets/images/app.jpg" alt="Mobile Development" class="img_service">
    <h3>Développement mobile</h3>
    <p>Nous capitalisons sur une expérience de plus de 5 ans dans le développement d'applications mobiles. Nous
      développons des applications natives ou hybrides sur mesure en fonction de vos besoins et de votre budget.</p>
  </div>
  <div class="service">
    <img src="assets/images/web.jpg" alt="Web Development" class="img_service">
    <h3>Développement web</h3>
    <p>Notre expérience avec les petits écrans est précieuse dans un monde où la majorité du trafic web provient
      d'appareils mobiles. Nous développons des sites web en utilisant les technologies les plus adaptées à vos
      besoins.</p>
  </div>
  <div class="service">
    <img src="assets/images/desktop.jpg" alt="Desktop Development" class="img_service">
    <h3>Développement Desktop</h3>
    <p>De nombreuses entreprises peuvent avoir besoin de développeurs pour des durées déterminées. Nous proposons la
      mise à disposition de développeurs juniors, confirmés ou seniors en régie nearshore.</p>
  </div>
</div>
