<div class="section-divider">
  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Services</h2>
</div>

<div class="service-container">
  <div class="service-item">
    <img src="app/assets/images/app.jpg" alt="Mobile Development" class="service-image">
    <h3 class="service-title">Développement mobile</h3>
    <p class="service-description">Nous capitalisons sur une expérience de plus de 5 ans dans le développement d'applications mobiles. Nous développons des applications natives ou hybrides sur mesure en fonction de vos besoins et de votre budget.</p>
  </div>
  <div class="service-item">
    <img src="app/assets/images/web.jpg" alt="Web Development" class="service-image">
    <h3 class="service-title">Développement web</h3>
    <p class="service-description">Notre expérience avec les petits écrans est précieuse dans un monde où la majorité du trafic web provient d'appareils mobiles. Nous développons des sites web en utilisant les technologies les plus adaptées à vos besoins.</p>
  </div>
  <div class="service-item">
    <img src="app/assets/images/desktop.jpg" alt="Desktop Development" class="service-image">
    <h3 class="service-title">Développement Desktop</h3>
    <p class="service-description">De nombreuses entreprises peuvent avoir besoin de développeurs pour des durées déterminées. Nous proposons la mise à disposition de développeurs juniors, confirmés ou seniors en régie nearshore.</p>
  </div>
</div>
